/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Raleway", "Sans serif";
  max-width: 1440px;
  margin: auto;
  padding: 0 50px;
}
h1 {
  font-weight: bold;
}
h2 {
  font-weight: bold;
  font-size: 22px;
}

/* FLEXBOX */
.f {
  display: flex;
}
.f-vertical {
  flex-direction: column;
}
.f-spaceb {
  justify-content: space-between;
}
.f-align-vertical {
  align-items: center;
}
.f-align-horizontal {
  justify-content: center;
}
.f-wrap {
  flex-wrap: wrap;
}

/* HEADER */
.logo {
  flex: 4;
}
header > nav {
  height: 100%;
}
header > nav > a {
  padding: 40px 35px;
}
.header-link {
  border-top: 3px transparent solid;
}
.header-link:first-child {
  color: #0065fc;
  border-top: 3px solid #0065fc;
}
.header-link:hover {
  color: #0065fc;
  border-top: 3px solid #0065fc;
}
.header-register {
  padding: 40px 35px;
  font-weight: bold;
  color: #0065fc;
  border-top: 3px transparent solid;
}

/* INTRODUCTION */
.introduction > p {
  margin-top: 10px;
}
.search {
  margin: 20px 0;
  height: 50px;
  width: 450px;
  border-radius: 16px;
  border: 1px solid #f2f2f2;
  overflow: hidden;
}
.search > i {
  background-color: #f2f2f2;
  padding: 20px;
}
.search > input {
  flex: 2;
  height: 100%;
  border: 0;
  background-color: #fff;
  padding-left: 15px;
  font-size: 17px;
  font-weight: bold;
  color: black;
}
.intro-button {
  flex: 1;
  overflow: hidden;
}
.intro-button > button {
  background-color: #0065fc;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  padding: 15px 20px;
  border: 0;
  border-radius: 0 16px 16px 0;
}
.intro-button > i {
  display: none;
}
.intro-button2 {
  display: none;
  position: absolute;
  right: 30px;
}
.intro-button2 > button {
  padding: 19px;
  border: 0;
  border-radius: 16px;
  background-color: #0065fc;
  color: #fff;
}
.intro-button2 > button {
  font-size: 17px;
}
.intro-filtre {
  margin: 35px 0;
  max-width: 1000px;
  row-gap: 15px;
  grid-column-gap: 15px;
}
.intro-filtre-name {
  font-weight: bold;
  font-size: 19px;
  padding-left: 10px;
}
.intro-filtre-button {
  border: 2px solid #f2f2f2;
  background-color: #fff;
  border-radius: 25px;
}
.intro-filtre-button:hover {
  background-color: #f4f9ff;
  color: #0065fc;
}
.intro-filtre-icon {
  height: 22px;
  width: 22px;
  background-color: #deebff;
  border-radius: 100%;
  padding: 15px;
  margin: -2px;
}
.intro-filtre-icon > i {
  color: #0065fc;
}
.intro-filtre-titre {
  font-weight: bold;
  padding: 15px;
  padding-right: 20px;
}
.intro-info-icon {
  height: 25px;
  width: 25px;
  border: 1px solid #f2f2f2;
  border-radius: 100%;
}
.intro-info-icon > i {
  font-size: 13px;
  color: #0065fc;
}
.intro-info {
  margin: auto;
  margin-left: 15px;
}

/* HEBERGEMENT SECTION */
.hebergement {
  margin-top: 35px;
  column-gap: 20px;
  overflow: hidden;
}
.heberg-principal {
  background-color: #f2f2f2;
  border-radius: 25px;
  row-gap: 20px;
  padding: 40px;
  height: 510px;
  width: 800px;
}
.heberg-list {
  column-gap: 20px;
  row-gap: 20px;
}
.heberg-offre {
  height: 180px;
  min-width: 230px;
  max-width: 400px;
  border-radius: 15px;
  border: 5px solid #fff;
  background-color: #fff;
  box-shadow: 0 0 15px lightgray;
}
.heberg-offre-img {
  flex: auto;
  position: relative;
}
.heberg-offre-img > img {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.heberg-offre-img-desc {
  height: 55px;
  padding: 10px 5px 5px 10px;
}
.heberg-offre-img-desc > span {
  font-weight: bold;
  font-size: 16px;
}
.heberg-offre-img-desc > p {
  font-size: 14px;
}
.heberg-offre-note {
  color: #f2f2f2;
  font-size: 11px;
}
.heberg-offre:nth-child(1)
  > .heberg-offre-img-desc
  > .heberg-offre-note
  > i:nth-child(-n + 4) {
  color: #0065fc;
}
.heberg-offre:nth-child(2) > .heberg-offre-img-desc > .heberg-offre-note > i {
  color: #0065fc;
}
.heberg-offre:nth-child(3)
  > .heberg-offre-img-desc
  > .heberg-offre-note
  > i:nth-child(-n + 4) {
  color: #0065fc;
}
.heberg-offre:nth-child(4)
  > .heberg-offre-img-desc
  > .heberg-offre-note
  > i:nth-child(-n + 3) {
  color: #0065fc;
}
.heberg-offre:nth-child(5)
  > .heberg-offre-img-desc
  > .heberg-offre-note
  > i:nth-child(-n + 4) {
  color: #0065fc;
}
.heberg-offre:nth-child(6) > .heberg-offre-img-desc > .heberg-offre-note > i {
  color: #0065fc;
}
.heberg-principal > a {
  font-weight: bold;
  font-size: 18px;
}
.heberg-populaire {
  background-color: #f2f2f2;
  border-radius: 25px;
  padding: 40px;
  margin-right: 10px;
}
.heberg-populaire-icon {
  font-size: 24px;
}
.heberg-populaire-list-offre {
  height: 450px;
}
.heberg-populaire-offre {
  width: 100%;
  height: 130px;
  border-radius: 15px;
  border: 5px solid #fff;
  background-color: #fff;
  box-shadow: 0 0 15px lightgray;
}
.heberg-populaire-offre-img {
  width: 125px;
}
.heberg-populaire-offre-img > img {
  height: 100%;
  width: 100%;
  border-radius: 15px 0 0 15px;
  object-fit: cover;
}
.heberg-populaire-offre-img-desc {
  width: 200px;
  padding: 12px 15px 5px 20px;
}
.heberg-populaire-offre-titre > span {
  font-weight: bold;
  font-size: 17px;
}
.heberg-populaire-offre-titre > p {
  margin-top: 5px;
  font-size: 14px;
}
.heberg-populaire-offre-note {
  color: #f2f2f2;
  font-size: 11px;
}
.heberg-populaire-offre:nth-child(1)
  > .heberg-populaire-offre-img-desc
  > .heberg-populaire-offre-note
  > i {
  color: #0065fc;
}
.heberg-populaire-offre:nth-child(2)
  > .heberg-populaire-offre-img-desc
  > .heberg-populaire-offre-note
  > i:nth-child(-n + 4) {
  color: #0065fc;
}
.heberg-populaire-offre:nth-child(3)
  > .heberg-populaire-offre-img-desc
  > .heberg-populaire-offre-note
  > i:nth-child(-n + 4) {
  color: #0065fc;
}

/* SECTION ACTIVITY */
.s-activity {
  margin-top: 60px;
  margin-bottom: 60px;
  height: 500px;
}
.activity {
  height: 450px;
  width: 330px;
}
.activity-contour {
  box-shadow: 0 0 15px lightgray;
  border-radius: 25px;
  overflow: hidden;
}
.activity-img {
  flex: 1;
  position: relative;
}
.activity-img > img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.activity-description {
  background-color: #fff;
  font-weight: bold;
  margin: 20px;
}
.activity-60 {
  height: 250px;
}
.activity-40 {
  height: 160px;
}
.activity-50 {
  height: 200px;
}
/* ************* */
/* MODE TABLETTE */
/* ************* */
@media (max-width: 1440px) {
  .hebergement {
    row-gap: 20px;
    flex-direction: column-reverse;
  }
  .heberg-populaire {
    margin-right: 0;
  }
}
/***************/
/* MODE MOBILE */
/***************/
@media (max-width: 600px) {
  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  body {
    padding: 0;
  }
  /* HEADER */
  header {
    height: 100%;
    flex-wrap: wrap;
  }
  header > nav {
    width: 100%;
    justify-content: space-between;
    position: relative;
  }
  .logo {
    padding-left: 40px;
    order: -2;
  }
  .header-link:first-child {
    border-top: 0;
    border-bottom: 3px solid #0065fc;
  }
  .header-link {
    width: 50%;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    border-top: 0;
    border-bottom: 3px solid #f2f2f2;
  }
  .header-link:hover {
    border-top: 0;
    border-bottom: 3px solid #0065fc;
  }
  .header-register {
    padding-right: 40px;
    order: -1;
    font-size: 20px;
  }
  /* INTRO */
  .introduction {
    padding: 30px;
  }
  .search {
    margin: 20px auto;
    width: 100%;
  }
  .intro-button {
    display: none;
  }
  .intro-button2 {
    display: flex;
  }
  .intro-filtre {
    justify-content: flex-start;
  }
  .intro-filtre-name {
    flex: 100%;
  }
  /* HEBERGEMENT SECTION */
  .hebergement {
    margin-top: 0;
    row-gap: 0;
  }
  .heberg-populaire {
    border-radius: 0;
    row-gap: 30px;
  }
  .heberg-populaire-offre-img {
    width: 150px;
  }
  .heberg-principal {
    background-color: transparent;
  }
  .heberg-offre {
    width: 100%;
  }
  .heberg-principal {
    height: 100%;
  }
}
