/* GENERAL */
@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-VariableFont_wght.ttf");
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Raleway", "Sans serif";
  max-width: 1440px;
  margin: auto;
  padding: 0 50px;
}
h1 {
  margin: 0;
  font-weight: bold;
}
h2 {
  margin: 0;
  font-weight: bold;
  font-size: 22px;
}
p {
  margin: 0;
}

/* HEADER */
header {
  height: 100px;
  overflow: hidden;
}
.logo {
  margin-top: 50px;
  padding: 0;
  float: left;
}
header nav {
  float: right;
  display: flex;
}
header nav a {
  margin: auto;
  padding: 50px 30px;
}
.header-link {
  border-top: 3px transparent solid;
}
.header-link:first-child {
  color: #0065fc;
  border-top: 3px solid #0065fc;
}
.header-link:hover {
  color: #0065fc;
  border-top: 3px solid #0065fc;
}
.header-register {
  font-weight: bold;
  color: #0065fc;
  border-top: 3px transparent solid;
}

/* INTRODUCTION */
#introduction {
  margin-top: 30px;
}
#introduction > p {
  margin-top: 10px;
}
#introduction > form {
  display: flex;
  margin: 20px 0;
  height: 45px;
}
#introduction > form > i {
  background-color: #f2f2f2;
  padding: 15px 20px;
  border-radius: 16px 0 0 16px;
}
#introduction > form > input {
  border: 1px solid #f2f2f2;
  background-color: #fff;
  padding-left: 15px;
  font-size: 15px;
  font-weight: bold;
  color: black;
}
#introduction > form > button {
  background-color: #0065fc;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 20px;
  border: 0;
  border-radius: 0 16px 16px 0;
}
.categories {
  display: flex;
  margin: 35px 0;
  height: 50px;
}
.categorie-name {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 19px;
  padding-left: 10px;
  padding-right: 20px;
}
.cat-structure {
  display: flex;
  align-items: center;
  margin: 0 15px;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
}
.cat-structure:hover {
  background-color: #f4f9ff;
  color: #0065fc;
}
.cat-icon {
  display: flex;
  height: 20px;
  width: 20px;
  background-color: #deebff;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin: -2px;
}
.cat-icon > i {
  color: #0065fc;
}
.cat-titre {
  font-weight: bold;
  padding: 15px;
  padding-right: 20px;
}
#intro-info {
  display: flex;
}
.info-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  border: 1px solid #f2f2f2;
  border-radius: 100%;
}
.info-icon > i {
  font-size: 13px;
  color: #0065fc;
}
#intro-info > p {
  margin: auto;
  margin-left: 15px;
}

/* HOST SECTION */
#host {
  margin-top: 35px;
}
.heberg-principal {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #f2f2f2;
  border-radius: 25px;
  padding: 40px;
  width: 800px;
}
.heberg-list-offre {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 12px 0;
}
.heberg-offre {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  width: 230px;
  height: 180px;
  border-radius: 15px;
  border: 5px solid #fff;
  background-color: #fff;
  box-shadow: 0 0 15px lightgray;
}
.heberg-offre-img {
  border: 0;
  padding: 0;
  width: 100%;
  height: 110px;
}
.heberg-offre-img > img {
  height: 100%;
  width: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.heberg-offre-img-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70px;
  padding: 10px 5px 5px 10px;
}
.heberg-offre-img-desc > span {
  font-weight: bold;
  font-size: 16px;
}
.heberg-offre-img-desc > p {
  font-size: 14px;
}
.heberg-offre-note {
  color: #f2f2f2;
  font-size: 11px;
}
.heberg-offre:nth-child(1)
  > .heberg-offre-img-desc
  > .heberg-offre-note
  > i:nth-child(-n + 4) {
  color: #0065fc;
}
.heberg-offre:nth-child(2) > .heberg-offre-img-desc > .heberg-offre-note > i {
  color: #0065fc;
}
.heberg-offre:nth-child(3)
  > .heberg-offre-img-desc
  > .heberg-offre-note
  > i:nth-child(-n + 4) {
  color: #0065fc;
}
.heberg-offre:nth-child(4)
  > .heberg-offre-img-desc
  > .heberg-offre-note
  > i:nth-child(-n + 3) {
  color: #0065fc;
}
.heberg-offre:nth-child(5)
  > .heberg-offre-img-desc
  > .heberg-offre-note
  > i:nth-child(-n + 4) {
  color: #0065fc;
}
.heberg-offre:nth-child(6) > .heberg-offre-img-desc > .heberg-offre-note > i {
  color: #0065fc;
}
.heberg-principal > a {
  font-weight: bold;
  font-size: 16px;
}
