/* GENERAL */
@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-VariableFont_wght.ttf");
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Raleway", "Sans serif";
  max-width: 1440px;
  margin: auto;
  padding: 0 50px;
}
h1 {
  margin: 0;
  font-weight: bold;
}
p {
  margin: 0;
}

/* HEADER */
header {
  height: 100px;
  overflow: hidden;
}
.logo {
  margin-top: 50px;
  padding: 0;
  float: left;
}
header nav {
  float: right;
  display: flex;
}
header nav a {
  margin: auto;
  padding: 50px 30px;
}
.header-Link {
  border-top: 3px transparent solid;
}
.header-Link:first-child {
  color: #0065fc;
  border-top: 3px solid #0065fc;
}
.header-Link:hover {
  color: #0065fc;
  border-top: 3px solid #0065fc;
}
.header-Register {
  font-weight: bold;
  color: #0065fc;
  border-top: 3px transparent solid;
}

/* INTRODUCTION */
#introduction {
  margin-top: 30px;
}
#introduction p {
  margin-top: 10px;
}
